html, body {
    background-color: #3dd7e4;  /* 배경색 적용 */
    font-family: Arial, sans-serif;  /* 폰트 설정 */
    padding: 20px;  /* 여백 설정 */
    height: 100%;  /* 전체 높이 설정 */
    margin: 0;  /* 기본 마진 제거 */
}


/* 배너 중앙 정렬 */
.banner {
    display: block;           /* 배너를 블록 요소로 설정 */
    margin-left: auto;        /* 왼쪽 여백 자동 */
    margin-right: auto;       /* 오른쪽 여백 자동 */
    width: 80%;               /* 배너 너비를 설정 (필요에 따라 조정) */
    margin-bottom: 20px;      /* 아래 여백 */
}


.banner img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10개의 이미지를 가로로 나열 */
    gap: 10px; /* 이미지 간 간격 */
    justify-items: center;
}

.image-grid img {
    width: 50%;
    max-width: 100px;
    height: auto;
}
